@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background: #efefef;
  /* background: rgba(0, 0, 0, 0.6); */
  /* text-align: center;  */
  /*allinea TUTTO il testo al centro (right, left, justify) */
  /* text-transform: capitalize; prima lettera maiuscolo (uppercase tutto maiuscolo, lowercase tutto minuscolo) */
  font-size: 1rem;
  font-family: "Montserrat", "Lato", sans-serif;
}

.link {
  text-decoration: none; /* elimina le sottolineature dai link (underline li sottolinea, overline la linea va sopra, line-through la linea li taglia*/
}

.titolo {
  color: rgb(142, 84, 218);
}

.post-title {
  color: #1c191d;
}

.post-subtitle {
  color: #2f2c30;
  font-weight: 500; /*peso del testo= cicciosità*/
  /* font-variant: small-caps; elegante, riduce le dimensioni e pome in maiuscolo */
}

.post-paragraph {
  color: rgb(78, 74, 79);
  line-height: 1.6; /*interlinea*/
  letter-spacing: 0.06rem; /*spazio fra lettere*/
  max-width: 60ch;
  /*nmero di caratteri nella linea, aiuta a non avere testi troppo lunghi*/
  font-style: italic;
}

.bg-image {
  height: 50vh;
  width: 70vw;

  /* background: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg"); */

  /* background-repeat: no-repeat; */

  /* background-size: contain; */
  /*cover>occupa lo spazio che deve a discapito della qualità, è adattivo */
  /*repeat-x> si ripete solo in orizzontale */
  /*repeat-y> si ripete solo in vesrticale*/
  /*auto è di default */
  /*contain> si spalma per non pedere qualità, ma lascia dei bordi scoperti*/

  /* background-position: center;  */
  /*eloquente, si posiziona ove richiedi: top/bottom/ center bottom/center/left center/right/left left ecc, si posiziona rispetto al container, inclusi valori in pixel*/

  /* opacity: 0.3;  */
  /*da 0 a 1*/
  /*NB> se passi BACKGROUND RGBA potrai settare un quarto parametro che apporrà un velo colorato sul tuo background*/

  /*I GRADIENTI> NO BACKGROUND-COLOR (si image) */
  /* background: linear-gradient(to right bottom, red, green, blue); */
  /* background: linear-gradient(190deg, red, green, blue); */
  background-image: radial-gradient(steelblue 5%, pink 20%, purple 75%);
}

.img {
  height: 400px;
  width: 60%;
  border: 10px solid rgb(142, 84, 218);
  /*padding: 25px 50px;
padding: top 25px;
  padding-left: 67px;
  padding-bottom: 6px;*/
  /* padding: 25px 10px 100px 57px;  */
  /*top right bottom left*/
  /* margin: 100px 50px;  */
  /*top-bottom right-left*/
  /* border-left: 5px dotted;
  border-left-color: burlywood;
  border-left-width: 10px; */
  border-radius: 20px;
  /* float: none; */
}

/* time {
  display: block;
} */

/* table {
  display: none; */
/* opacity: 0;
  visibility: hidden;
} */

.container {
  background-color: azure;
  padding: 20px;
  margin: 250px auto;
  /* display: flex; */
  /* flex-direction: column; */
  /*da la direzione del contenitore*/
  /*default è row- altrimenti column- row reverse oppure column reverse*/

  /* flex-wrap: wrap; */
  /*manda il testo a capo, lo wrappa, MANTENENDO LA DIMENSIONE ORIGINALE: no wrap (default), wrap, wrap-reverse*/

  height: 300px;
  justify-content: center;
  /*flex-start, flex-end, space-around (spazio uguale fra ogni elemento, meno in top e bottom), space-evenly(spazio uguale da tutti i lati), space-between (spazio uguale tranne su e giu, destra e sinistra)*/
  align-items: baseline;
  /*flex-start: in alto, flex-end: in basso, center: li centra, stretch: occupa tutto lo spazi in altezza, baseline: allinea tutto alla stessa altezza*/
  gap: 20px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.items {
  color: aliceblue;
  width: 20px;
  background-color: rgb(24, 172, 48);
  padding: 15px 12px;
  margin: 10px;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.items-c {
  display: flex;
  gap: 37px;
  align-items: center;
}

.grid-container {
  background-color: whitesmoke;
  display: grid;
  margin-top: -200px;
  min-height: 300px;
  height: 100%;
  /* grid-template-columns: 50px 200px 120px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  /* justify-items: flex-end; */
  align-content: space-between;
  /* gap: 20px 30px; */
}

.grid-items {
  color: black;
  /* width: 30px;
  height: 30px; */
  padding: 18px 36px;
  font-size: 1.3em;
}

.grid-container .grid-items:nth-child(1) {
  background: tan;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.grid-container .grid-items:nth-child(2) {
  background: aquamarine;
  width: 200px;
  height: 50px;
  grid-row: 2/2;
  grid-column: 1/3;
}

.grid-container .grid-items:nth-child(3) {
  background: darkkhaki;
}

.grid-container .grid-items:nth-child(4) {
  background: orange;
}

.grid-container .grid-items:nth-child(5) {
  background: skyblue;
}

.grid-container .grid-items:nth-child(6) {
  background: paleturquoise;
}

/* >LE TRANSIZIONI */

button[type="submit"] {
  background-color: teal;
  color: whitesmoke;
  padding: 0.825rem 2.25rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  margin: 16px 0px;
  cursor: pointer;
  transition: all 175ms ease;
  /*transform:translate(50px, 30px) ;
 */ /*transform: scale(1.5);
 */
  transform: skew(10deg);
}

.submit-btn:hover {
  background-color: rgb(1, 185, 185);
  padding: 1rem 2.3rem;
}

/* >ANIMAZIONI */

#header {
  opacity: 0;
  /*animation-name: fadeInFromRight;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s0;
  animation-direction: normal;
  animation-iteration-count: 1;
  */
  transform: translateX(400px);
  animation: fadeInFromRight 750ms ease-out 1s 1 normal forwards;
  -webkit-animation: fadeInFromRight 750ms ease-out 1s 1 normal forwards;
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
  }
  /* 50% {
    opacity: 0.2;
    transform: translateX(200px);
  } */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
